In [ ]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [6]:
Variable_string = "This is jayant's assignment"
variable_list = [ 23,56,33.56,"jay","pw","ineuron"]
variable_float = 3.56
variable_tuple = ( 4,6,744,667)



print(Variable_string)
print(variable_list)
print(variable_float)
print(variable_tuple)

This is jayant's assignment
[23, 56, 33.56, 'jay', 'pw', 'ineuron']
3.56
(4, 6, 744, 667)

In [ ]:
# Q2. Given are some following variables containing data:
# (i) var1 = ' ' 
# (ii) var2 = "[ DS , ML , Python]"
# (iii) var3 = [ 'DS' , 'ML' , 'Python' ]
# (iv) var4 = 1
# What will be the data type of the above given variable.

In [27]:
var1 = ' ' 
var2 = "[ DS , ML , Python]"
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1




print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [33]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [37]:

# / is a division operator it divides number
# % is a modulus operator and it gives remainder
# // floor division operator and it return quotient in which digits after decimal is removed
# ** exponent operator (power)

#  examples of / % // ** 

a=5
b=2
print(a/b)
print(a%b)
print(a//b)
print(a**b)

2.5
1
2
25

In [ ]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [46]:
list=["ajay",56,range(5),7.44,4+2j,"jay",44.33,78,{23,45},True]
for i in list :
    print(i)
    print((type(i)))

ajay
<class 'str'>
56
<class 'int'>
range(0, 5)
<class 'range'>
7.44
<class 'float'>
(4+2j)
<class 'complex'>
jay
<class 'str'>
44.33
<class 'float'>
78
<class 'int'>
{45, 23}
<class 'set'>
True
<class 'bool'>

In [ ]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [66]:
a = int(input("Enter number A : "))
b = int(input("Enter number B : "))
if a % b == 0 :
    c = 0 
    d=a
    while a%b == 0:
        c = c+1
        a = a//b
    else :
    
        print(d, "is divisible by ", b, ",", c, "times")
else :
    print(a,' is not divisible by ',b)

Enter number A :  25
Enter number B :  5

25 is divisible by  5 , 2 times

In [ ]:
# Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the elementis
# divisible by 3 or not.

In [ ]:
l = []
for i in range(25):
    l.append(int(input("Enter Number : - ")))
print(l)
for  i in l:
    if i % 3 == 0 :
        print(i," is divisible by 3")
    else:
        print(i, "is not divisible by 3")

In [ ]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

Mutable data types: A mutable data type is a type whose values can be changed after they are created.
Immutable data types: An immutable data type is a type whose values cannot be changed after they are created.

In [111]:
# example of immutable data type

A ="boy"
print(A)
A[0]=66
print(A)

boy

TypeError: 'str' object does not support item assignment

In [110]:
# Example of Mutable data types
list = [2,3]
print(l)
list[0] = 4
print(list)

[2, 3]
[4, 3]